/* SEARCH FORM */

.pz2-mainForm {
    line-height: 150%;

    label {
        display: none;
    }
}

.pz2-fieldContainer {
    float: left;
    clear: left;
}

.pz2-submitButton {
    display: block;
    float: left;
    height: 23px;
    background: url('button_shade_small.png') repeat-x scroll 0 100% #f3f6fb;
    border-style: solid;
    border-width: 1px;
    border-color: $form-border-color;
    border-radius: 3px 3px 3px 3px;
    border-right: 1px solid #b4b4b4;
    color: #555555;
    font-weight: bold;
    line-height: 100%;
    padding: 3px 12px;
    margin-top: -1px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(255, 255, 255, 0.75);
    text-transform: uppercase;

    &::active {
        background-image: url('button_shade_small_click.png');
        background-color: #e7e9ed;
    }
}
