.pz2-searchField {
    display: block;
    float: left;
    margin: 0 6px 2px 0;
    padding: 2px;
    color: #333333;
    background: #f3f5f9;
    border-style: solid;
    border-width: 1px;
    border-color: $form-border-color;

    &::placeholder {
        color: #999;
    }
}
